# Node.js dependencies
node_modules/

# Output directories
.next/
out/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*     # untuk file seperti .env.local, .env.production, dll

# Vercel deployment
.vercel/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# OS-specific
.DS_Store
Thumbs.db