body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f5f6ff;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: #10375c;
    padding: 10px;
    font-weight: bold;
    color: #F4f6FF;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#rekomendasiPaket {
    text-align: center;
    margin: 2em;
    background-color: #FFFFFF;
    height: 100%;
    width: 50%;
}

#rekomendasiPaket h2 {
    color: #10375c;
    font-size: 1.5em;
    margin-bottom: 2em;
}

.paket-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}

.paket {
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    width: 180px;
    padding: 1em;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
}

.paket-title {
    background-color: #758ca5;
    color: white;
    font-weight: bold;
    padding: 0.5em;
    margin-bottom: 1em;
    border-radius: 4px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 1em;
}

ul li {
    border-bottom: 1px solid #ccc;
    padding: 0.3em 0;
}

.paket-btn {
    background-color: #758ca5;
    color: white;
    padding: 0.5em;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
}

