body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f5f6ff;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #10375c;
    padding: 20px 40px;
    font-weight: bold;
    color: #f4f6ff;
    gap: 30px;
}

header p {
    margin: 0;
    cursor: pointer;
}

#grafik_penjualan {
    background-color: white;
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    text-align: center;
}

#grafik_penjualan h2 {
    margin-bottom: 20px;
    color: #10375c;
}

#rekomendasiPaket {
    text-align: center;
    background-color: #ffffff;
    padding: 30px;
    width: 70%;
    margin: 20px auto;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
}

#rekomendasiPaket h2 {
    color: #10375c;
    font-size: 1.8em;
    margin-bottom: 30px;
}

.paket-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}

.paket {
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    width: 180px;
    padding: 1em;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.paket-title {
    background-color: #10375c;
    color: white;
    font-weight: bold;
    padding: 0.5em;
    margin-bottom: 1em;
    border-radius: 6px;
    font-size: 1.1em;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 1em;
}

ul li {
    border-bottom: 1px solid #ccc;
    padding: 0.3em 0;
    font-size: 0.95em;
}

.paket-btn {
    background-color: #10375c;
    color: white;
    padding: 0.5em;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.paket-btn:hover {
    background-color: #0a2640;
}
